
  html {
    scroll-behavior: smooth;
  }

  .back-to-top {
    position: fixed;
    z-index: 15;
    bottom: 10px;
    right: 10px;
    display: block;
    background-color: rgb(54, 52, 52);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }

  .back-to-top:hover {
      background-color: #444;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  body {
    padding: 0;
    line-height: 1.5;
    background: #cdd8dd;
  }
  
  body .noscroll {
    overflow-x: hidden;
  }

  body .highlight {
    color: #5787d5;
  }
  
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  header img {
    border-radius: 50%;
    transform: scale(0.5);
  }

  .buttons{
    display: inline-block;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }

  header {
    background: #242a2d;
    background-size: cover;
    min-height: 80vh;
    position: relative;
  }

  header .me {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  header .me h1,
  header .me p {
    color: white;
  }
  
  header .me h1 {
    letter-spacing: 2px;
    white-space: nowrap;
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: "Alfa Slab One", "Poppins";
    font-weight: 400;
    font-family: "Alfa Slab One", "Poppins";
    font-weight: 400;
  }
  
  header .me p {
    color: #dcdcdc;
    line-height: 1.6;
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5rem;
  }
  
  header .me p .underline {
    color: #5787d5;
  }
  
  header .me #buttons {
    white-space: nowrap;
    text-align: center;
    margin-top: 1rem;
    position: absolute;
    margin-left: 350px;
    border: 5px solid rgb(61, 61, 99);
  }

  header .me #buttons #inner-buttons {
    background-color: rgb(110, 142, 151);
    padding: 6px;
  }

  header .container {
    display: flex;
    list-style: none;
    margin-right: 50px;
    padding: 0;
    position: absolute;
    right: 0;
  }

  header li {
    margin-right: 20px;
    margin-top: -200px;
    font-size: 20px;
  }
  
  header li :hover {
    color: rgb(130, 171, 187);
    font-weight: bold;
  }

  .skills {
    padding: 3rem 0;
    position: relative;
    overflow: hidden;
    background: #242a2d;
  }
  
  .skills canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  
  .skills h2 {
    text-align: center;
    margin-bottom: 3rem;
    color: white;
  }
  
  .skills .container {
    padding: 6rem 0;
  }
  
  .skills .skills-icons {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }

  .skills .skills-icons li {
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    margin: 1rem;
  }

  .skills .skills-icons li:hover {
    transform: scale(1.3);
  }

  .contact {
    padding: 3rem 0;
    position: relative;
    overflow: hidden;
    background: #242a2d;
  }

  form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
    color: white;

  }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .contact h1 {
    text-align: center;
    margin-bottom: 3rem;
    color: white;
  }

  .education {
    background: white;
    padding-bottom: 3rem;
  }
  
  .education .container {
    max-width: 900px;
  }
  
  .education .container h2 {
    text-align: center;
    color: black;
    margin-bottom: 3rem;
  }
  
  .education .container .education-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0.15rem 0.6rem rgba(43, 52, 56, 0.15);
    padding: 40px;
    border-radius: 3px;
  }
  
  .education .container .education-card > *:last-child {
    margin-top: 40px;
  }
  
  @media (max-width: 500px) {
    .education .container .education-card {
      padding: 20px;
    }
  }
  
  .education .container .education-card .education-card-column {
    display: flex;
  }
  
  .education
    .container
    .education-card
    .education-card-column
    .card-column-image {
    flex: 0 0 20%;
  }
  
  .education
    .container
    .education-card
    .education-card-column
    .card-column-image
    img {
    width: 100%;
  }
  
  .education
    .container
    .education-card
    .education-card-column
    .card-column-large {
    flex: 0 0 80%;
    padding-left: 1.5rem;
  }
  
  .education
    .container
    .education-card
    .education-card-column
    .card-column-large
    > * {
    margin: 0.25rem 0;
  }
  
  .education
    .container
    .education-card
    .education-card-column
    .card-column-large
    h4 {
    font-weight: normal;
  }
  
  .education
    .container
    .education-card
    .education-card-column
    .card-column-large
    ul {
    padding-left: 1.5rem;
  }
  
  .education
    .container
    .education-card
    .education-card-column
    .card-column-large
    hr {
    border: 0;
    border-top: 1px solid #eee;
    margin-top: 40px;
  }


  